@model WednesdayWeb.Models.Student
@{
    ViewBag.Title = "Details";
}

<h2>Student Details</h2>
<p>@Html.DisplayNameFor(a => a.Id) - @Html.DisplayFor(model => model.Id)</p>
<p>@Html.DisplayNameFor(model => model.Name) - @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.GPA) - @Html.DisplayFor(y => y.GPA)</p>
<h1>@Model.Id</h1>



